<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!-- The data source -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="org.h2.Driver"/>
		<property name="url"
				  value="jdbc:h2:~/temp/db/schedule_sloth"/>
		<property name="username" value="sloth"/>
		<property name="password" value=""/>
	</bean>

	<!-- The session factory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="packagesToScan" value="de.nak.scheduling_sloth.model"/>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">create</prop>
                <prop key="hibernate.hbm2ddl.import_files">import.sql</prop>
            </props>
		</property>
	</bean>

	<!-- The transaction manager -->
	<bean id="txManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<!-- The advice -->
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRED"/>
		</tx:attributes>
	</tx:advice>

	<!-- The pointcut definition -->
	<aop:config>
		<aop:pointcut id="serviceMethods" expression="execution(* de.nak.scheduling_sloth.service.*.*(..))"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethods"/>
	</aop:config>

	<!-- Lecturer DAO -->
	<bean id="lecturerDAO" class="de.nak.scheduling_sloth.dao.LecturerDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<!-- Lecturer Service -->
	<bean id="lecturerService" class="de.nak.scheduling_sloth.service.LecturerServiceImpl">
		<property name="lecturerDAO" ref="lecturerDAO"/>
	</bean>

    <!-- Room DAO -->
    <bean id="roomDAO" class="de.nak.scheduling_sloth.dao.RoomDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Room Service -->
    <bean id="roomService" class="de.nak.scheduling_sloth.service.RoomServiceImpl">
        <property name="roomDAO" ref="roomDAO"/>
    </bean>

    <!-- Cohort DAO -->
    <bean id="cohortDAO" class="de.nak.scheduling_sloth.dao.CohortDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Cohort Service -->
    <bean id="cohortService" class="de.nak.scheduling_sloth.service.CohortServiceImpl">
        <property name="cohortDAO" ref="cohortDAO"/>
    </bean>

    <!-- Century DAO -->
    <bean id="centuryDAO" class="de.nak.scheduling_sloth.dao.CenturyDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Century Service -->
    <bean id="centuryService" class="de.nak.scheduling_sloth.service.CenturyServiceImpl">
        <property name="centuryDAO" ref="centuryDAO"/>
    </bean>

    <!-- Course DAO -->
    <bean id="courseDAO" class="de.nak.scheduling_sloth.dao.CourseDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Course Service -->
    <bean id="courseService" class="de.nak.scheduling_sloth.service.CourseServiceImpl">
        <property name="courseDAO" ref="courseDAO"/>
    </bean>

    <!-- Lesson DAO -->
    <bean id="lessonDAO" class="de.nak.scheduling_sloth.dao.LessonDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Lesson Service -->
    <bean id="lessonService" class="de.nak.scheduling_sloth.service.LessonServiceImpl">
        <property name="lessonDAO" ref="lessonDAO"/>
    </bean>

</beans>